* {
    color: #ffffff;
}

p {
    line-height: 1.8;
}

.mt-40 {
    margin-top: 40px;
}

.title {
    background: #464646;
    padding: 10px 30px;
}

.padding-all {
    padding: 0px 10px;
}

.alt-list {
    list-style: none;
    padding: 0px;
}

.sub-title {
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    font-weight: 700;
    margin: 4px 0 5px;
    padding: 3px 0
}

.sub-title h4 {
    font-size: 18px;
}

.top-detail p {
    white-space: pre-line;
}

.role {
    font-size: 12px;
}

.anime-info {
    margin-left: 10px;
}

.anime-img {
    float: left;
    height: 130px;
    clear: both;
}

.sub-head {
    font-size: 20px;
    margin-right: 30px;
}

.anime-title {
    font-size: 12px;
}